.login-container {
  max-width: 500px;
  margin: 90px auto !important;
  padding: 25px;
  border-radius: 8px;
  background-color: transparent !important;
  box-shadow: none !important;
  color: var(--text-color);
}

.login-form h2 {
  text-align: center;
  margin-bottom: 20px;
  color: var(--hover-color);
}

.form-row {
  display: flex;
  justify-content: space-between;
  gap: 15px;
  margin-bottom: 15px;
}

.form-group {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.half-width {
  max-width: 48%;
}

.form-group label {
  margin-bottom: 5px;
  font-weight: 600;
}

.form-group input,
.form-group select {
  padding: 10px;
  border: 1px solid var(--hover-color);
  border-radius: 4px;
  background-color: var(--body-color);
  color: var(--text-color);
  font-size: 1rem;
}

.form-group input:focus,
.form-group select:focus {
  outline: none;
  border-color: var(--hover-color);
  box-shadow: 0 0 5px var(--hover-color);
}

.success-message {
  color: #4BB543;
  text-align: center;
  margin-bottom: 10px;
}

.error-message {
  color: #FF4136;
  text-align: center;
  margin-bottom: 10px;
}

.buttonlogin {
  display: flex;
  /* justify-content: center; */
}

.login-button {
  background-color: var(--hover-color);
  color: white;
  border: none;
  padding: 12px 30px;
  font-size: 1rem;
  border-radius: 25px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.login-button:hover {
  background-color: #e63946;
}

@media screen and (max-width: 768px) {
  .login-container {
    max-width: 90%;
    padding: 20px;
    margin: 70px auto !important;
  }
  
}
@media screen and (max-width: 600px) {
  .login-container {
    max-width: 95%;
    padding: 15px;
    margin: 70px auto !important;
  }
  .form-row {
    flex-direction: column;
  }
  .half-width {
    max-width: 100%;
  }
  .login-button {
    width: 100%;
  }
}
